.catTitle {
  color: #53c28b;
}

.item {
  display: flex;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.item:nth-child(2n + 1) {
  flex-direction: row-reverse;
}

.imgContainer {
  flex: 1;
  height: 378px;
  width: 800px;
  position: relative;
  border: black solid 4px;
}

.img {
  object-fit: fill;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.title {
  font-size: 50px;
  color: #53c28b;
}

.desc {
  font-size: 20px;
}

.tech {
  display: inline-block;
}

.tag {
  padding: 0.4rem 0.7rem;
  border-radius: 5px;
  cursor: default;
  text-transform: none;
  margin-right: 0.8rem;
  margin-top: 1rem;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  width: fit-content;
  background-color: #a483e0;
  color: white;
  font-weight: 600;
}

.buttonContainer {
  display: flex;
}

.btn {
  margin-right: 0.8rem;
}

/* Not Using */

.button {
  padding: 20px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  width: max-content;
  color: white;
}
