.catTitle {
  color: #53c28b;
  padding: 15px 0px;
  font-size: 37px;
}

.item {
  display: flex;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.imgContainer {
  display: flex;
  flex: 1;
  height: 500px;
  position: relative;
}

.img {
  object-fit: cover;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.desc {
  font-size: 20px;
  padding: 15px 0px;
}

.button {
  display: inline;
  margin-right: 25px;
}
